extends layout

block content
  h1= title
  p Welcome to #{title}

  each message in messages
    li
      block content 
      h3=message.user
      p=message.added
      p=message.text

  a(href="/new")='New message'

